---
import BlogsCard from "./BlogsCard.astro";
import GradientHeading from "./GradientHeading.astro";
import TipCard from "src/components/DynamicProps/TipCard.astro";
const { hero_text, hero_description, blogs_card, Tip_card } =
  Astro.props.contents;
---

<main class="container">
  <!-- Hero Section -->
  <section class="mt-20 md:mt-45 flex flex-col items-center text-center">
    <h2>
      <GradientHeading text={hero_text} maxWidth="1300px" />
    </h2>
    <p class="text-csgradient text-title-body mt-17 lg:px-90">
      {hero_description.description}
    </p>
    <div class="mt-5 md:mt-12">
      <button
        class="btnprimary lg:w-screen lg:max-w-[194px] max-h-[46px] text-base font-normal px-8 py-4 flex items-center justify-center"
      >
        {hero_description.buttons}
        <img
          src="/assets/rightarrow.svg"
          alt="Right Arrow"
          class="w-4 h-4 ml-2"
        />
      </button>
    </div>
  </section>

  <!-- In BlogsPage.astro -->
  <section class="my-10 md:my-30">
    <div class="">
      <BlogsCard items={blogs_card} />
    </div>
  </section>
  <!-- In BlogsPage.astro -->

  <section>
    <div class="">
      <TipCard items={Tip_card} />
    </div>
  </section>
</main>
