---
// src/components/DynamicProps/IndustryPageContent.astro
import GradientHeading from "@/components/DynamicProps/GradientHeading.astro";
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
import SuccessStories from "@/components/DynamicProps/SuccessStories.astro";
import Star from "@/components/DynamicProps/Star.astro";
import Button from "../../components/common/button.astro";

const {
  heroSection,
  solutionsSection,
  useCasesSection,
  whyChooseSection,
  ctaSection,
} = Astro.props;
---

<main>
  <div class="container">
    <!-- Hero Section -->
    <div class="my-5 md:my-19">
      <div
        class="flex flex-col justify-center items-center text-center h-auto space-y-2 lg:space-y-5 xl:space-y-10 bg-background"
      >
        <div class="">
          <GradientHeading text={heroSection.heading} />
        </div>
        <p
          class="font-normal mt-4 text-title-body text-gradientbody max-w-[600px]"
        >
          {heroSection.description}
        </p>

        <Button
          text={heroSection.buttonText}
          arrow={true}
          className="!py-2 !px-2 sm:!px-10 text-subheading h-fit tracking-wider !my-8 md:!my-10"
          type="link"
          href="#"
        />
        {
          heroSection.subHeading && (
            <h1 class="text-heading text-primary  font-semibold md:mb-10 mb-5">
              {heroSection.subHeading}
            </h1>
          )
        }
        {
          heroSection.subDescription && (
            <p class="text-secondary mt-0 text-subbody font-normal text-center max-w-[1200px]">
              {heroSection.subDescription}
            </p>
          )
        }
      </div>
    </div>

    <!-- Solutions Section -->
    <div class="my-10 md:my-20">
      <div
        class="text-heading text-primary md:mb-12 mb-2 font-semibold md:mb-10 mb-5"
      >
        {solutionsSection.title}
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
        {
          solutionsSection.solutions.map((solution) => (
            <UniqueValueCard {...solution} />
          ))
        }
      </div>
    </div>

    <!-- Use Cases Section -->
    <div class="my-10 md:my-20">
      <div class="text-heading text-primary md:mb-10 mb-5 font-semibold">
        {useCasesSection.title}
      </div>
      <div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:gap-12 gap-5">
          {
            useCasesSection.cases.map((caseItem, index) => (
              <SuccessStories key={index} {...caseItem} />
            ))
          }
        </div>
      </div>
    </div>

    <!-- Why Choose Section -->
    <div class="my-10 md:my-20">
      <div class="flex justify-center items-center flex-col">
        <h2 class="text-centerheading font-medium md:mb-10 mb-5 text-primary">
          {whyChooseSection.title}
        </h2>
        <div>
          <Star items={whyChooseSection.items} maxWidth={1000} />
        </div>
      </div>
    </div>
  </div>
  <!-- CTA Section -->
  <div
    class="flex flex-col justify-center items-center text-center h-screen md:max-h-[666px] max-h-[500px] px-4 space-y-5 bg-[#313131] my-10 md:my-20"
  >
    <GradientHeading text={ctaSection.heading} />
    <p class="font-normal py-10 text-subbody text-primary">
      {ctaSection.description}
    </p>
    <Button
      text={ctaSection.buttonText}
      logo={true}
      className="!py-2 !px-2 sm:!px-10 text-subheading h-fit tracking-wider"
      type="link"
      href="#"
    />
  </div>
</main>
