---
import UniqueValueCard from "@/components/DynamicProps/UniqueValueCard.astro";
import u1 from "../../../../assets/icons/casestudy/u1.svg";
import u2 from "../../../../assets/icons/casestudy/u2.svg";
import u3 from "../../../../assets/icons/casestudy/u3.svg";
---

<div class="container my-10 md:my-20">
  <div class="text-heading text-primary md:mb-12 mb-2 font-bold">
    Key Services We Provide
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    <UniqueValueCard
      logo={u1}
      title="AI-Driven Predictive Maintenance"
      description="Leverage AI to predict potential issues before they arise, reducing unplanned downtime and extending system longevity"
    />
    <UniqueValueCard
      logo={u1}
      title="Continuous Performance Monitoring"
      description="Implement real-time monitoring systems that provide insights into application health and performance, identifying bottlenecks before they affect users"
    />
    <UniqueValueCard
      logo={u1}
      title="24/7 Technical Support"
      description="Round-the-clock support to troubleshoot issues, handle emergency repairs, and ensure your business operations run smoothly without disruption."
    />
    <UniqueValueCard
      logo={u1}
      title="Regular System Updates & Enhancements"
      description="Proactively manage software updates, ensuring compatibility with new technologies and improving functionality with each release"
    />
    <UniqueValueCard
      logo={u1}
      title="Security & Compliance Audits"
      description="Ensure your systems remain secure and compliant with industry standards through regular security checks, vulnerability scans, and patches"
    />
  </div>
</div>
