---
const carouselContent = [
  {
    href: "/casestudy1",
    src: "../assets/Rectangle 93092.png",
    alt: "Slide Image",
    text: "How we helped Nestle create personalized nutrition through genetic insights",
  },
  {
    href: "/casestudy2",
    src: "../assets/flight.png",
    alt: "Slide Image",
    text: "Smart Airport Management: Track, Maintain, and Optimize with Precision",
  },
  {
    href: "/casestudy3",
    src: "../assets/run.png",
    alt: "Slide Image",
    text: "A platform for managing and coordinating every sports meet across USA",
  },
  {
    href: "/casestudy4",
    src: "../assets/van.png",
    alt: "Slide Image",
    text: "A major logistics company in the US achieved a 40% reduction in response time.",
  },
  {
    href: "/casestudy5",
    src: "../assets/Rectangle 93092.png",
    alt: "Slide Image",
    text: "Instant Access to Top Cancer Specialists Across the World – Safe & Effortless",
  },
  {
    href: "/casestudy6",
    src: "../assets/computer.png",
    alt: "Slide Image",
    text: "Unlocking Education with Smooth, Engaging Digital Learning",
  },
];
---

<style>
  #tb-carousel::-webkit-scrollbar {
    display: none;
  }
  .btn-disbaled {
    cursor: not-allowed;
    background: #121212;
  }
</style>

<section>
  <div class="container my-10">
    <h1 class="font-dm-sans text-heading text-primary text-medium my-10">
Transforming business    </h1>
    <p class="text-subbody text-secondary w-full text-normal">
      Transform your business with generative AI
    </p>
  </div>
  <div class="relative 2xl:container">
    <ul
      id="tb-carousel"
      class="flex gap-10 overflow-x-auto scroll-smooth pb-3 scroll-snap-x snap-mandatory"
    >
      {
        carouselContent.map((content, index) => {
          const textId = `card-text-${index}`;
          return (
            <li
              class={`
              ${
                (index === 0 ? " ms-4 md:ms-6 2xl:ms-0" : "") +
                (index === carouselContent.length - 1
                  ? " me-4 md:me-6 2xl:me-0"
                  : "")
              }
                tb-carousel-card relative group h-[250px] w-[250px] md:h-[450px] lg:h-[600px] md:w-[600px]
              flex-shrink-0 bg-gray-300 rounded-xl scroll-snap-start flex justify-center items-center text-xl overflow-hidden focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500   
              `}
              role="link"
              aria-labelledby={textId}
              tabindex="0"
            >
              <img
                src={content.src}
                alt={content.alt}
                class="w-full h-full object-cover rounded-xl scale-[1.1] group-hover:scale-[1.2] transition-transform duration-300"
              />
              <div
                id={textId}
                class="absolute z-10 w-full text-left bottom-3 md:bottom-10 font-poppins text-white  px-2 md:px-12 text-xl md:text-4xl group-hover:scale-[1.1] transition-transform duration-300"
              >
                <p class="break-words">{content.text}</p>
              </div>
              <div
                class="
              absolute inset-0 z-0
              pointer-events-none
              opacity-0
              group-hover:opacity-100
              transition-opacity duration-300
              [background:linear-gradient(to_bottom,rgba(0,0,0,0)_5%,rgba(0,0,0,.5)_100%)]
            "
              />
              <a
                href={content.href}
                aria-labelledby={textId}
                tabindex="-1"
                class="
                absolute
                inset-0
                z-20
              
              "
              />
            </li>
          );
        })
      }
    </ul>
    <div class="flex justify-end p-4 gap-4">
      <button
        id="prevBtn"
        class="rounded-full flex justify-center items-center cursor-pointer bg-[#15AED5] text-white p-2 px-4"
      >
        <img
          src="../assets/arrowcarousel.png"
          alt="Previous"
          class="w-4 p-1 sm:w-5 md:w-6"
        />
      </button>
      <button
        id="nextBtn"
        class="rounded-full flex justify-center items-center cursor-pointer bg-[#15AED5] text-white p-2 px-4"
      >
        <img
          src="../assets/arrowcar2.png"
          alt="Next"
          class="w-4 p-1 sm:w-5 md:w-6"
        />
      </button>
    </div>
  </div>
</section>

<script lang="js">
  const carousel = document.getElementById("tb-carousel");
  const carouselStyles = window.getComputedStyle(carousel);
  const carouselCard = document.querySelector(".tb-carousel-card");
  const nextBtn = document.getElementById("nextBtn");
  const prevBtn = document.getElementById("prevBtn");

  function toggleArrowButtons() {
    if (carousel.scrollLeft <= 0) {
      prevBtn.classList.add("btn-disbaled");
    } else {
      prevBtn.classList.remove("btn-disbaled");
    }
    if (carousel.scrollLeft + carousel.offsetWidth >= carousel.scrollWidth) {
      nextBtn.classList.add("btn-disbaled");
    } else {
      nextBtn.classList.remove("btn-disbaled");
    }
  }

  function handleScroll(direction) {
    if (!carouselCard) return;
    const cardWidth = carouselCard.offsetWidth;
    const gap = parseInt(carouselStyles.gap, 10) || 0;
    const scrollAmount = (cardWidth + gap) * direction;
    carousel.scrollBy({
      left: scrollAmount,
      behavior: "smooth",
    });
    setTimeout(toggleArrowButtons, 300);
  }

  document.addEventListener("DOMContentLoaded", () => {
    toggleArrowButtons();
    nextBtn.addEventListener("click", () => handleScroll(1));
    prevBtn.addEventListener("click", () => handleScroll(-1));
    carousel.addEventListener("scroll", toggleArrowButtons);
  });
</script>
