---
import { Image } from "astro:assets";
import Stanford from "../../assets/images/home/stanford.png";
import Hyundai from "../../assets/images/home/hyundai.png";
import Nestle from "../../assets/images/home/nestle.png";
import Panasonic from "../../assets/images/home/panasonic.png";
import LNT from "../../assets/images/home/l&t.png";
import Steng from "../../assets/images/home/STeng.png";
import Motorola from "../../assets/images/home/motorola.png";
import UN from "../../assets/images/home/UN.png";
import RE from "../../assets/images/home/royalenfield.png";
import Changi from "../../assets/images/home/changi.png";
import LM from "../../assets/images/home/livingmatrix.png";
import Reach from "../../assets/images/home/reach.png";
import InnerKraft from "../../assets/images/home/innerkraft.png";
import Moddo from "../../assets/images/home/moddo.png";
import SRM from "../../assets/images/home/shareandremember.png";
import Nanny from "../../assets/images/home/nanny.png";

const OurClientLogos = [
  {
    logo: Nestle,
    alt: "Nestle Brand Logo",
  },
  {
    logo: Stanford,
    alt: "Stanford Brand Logo",
  },
  {
    logo: Hyundai,
    alt: "Hyundai Brand Logo",
  },
  {
    logo: Panasonic,
    alt: "Panasonic Brand Logo",
  },
  {
    logo: LNT,
    alt: "L&T Brand Logo",
  },
  {
    logo: Steng,
    alt: "Steng Brand Logo",
  },
  {
    logo: Motorola,
    alt: "Motorola Brand Logo",
  },

  {
    logo: UN,
    alt: "UN Logo",
  },
  {
    logo: RE,
    alt: "Royal Enfield Brand Logo",
  },
  {
    logo: Changi,
    alt: "Changi Airport Logo",
  },
  {
    logo: LM,
    alt: "Living Matrix Brand Logo",
  },
  {
    logo: Reach,
    alt: "Reach Brand Logo",
  },
  {
    logo: InnerKraft,
    alt: "InnerKraft Brand Logo",
  },
  {
    logo: Moddo,
    alt: "Moddo Brand Logo",
  },
  {
    logo: SRM,
    alt: "Share And Remember Brand Logo",
  },
  {
    logo: Nanny,
    alt: "Nanny Brand Logo",
  },
];
---

<div
  class=""
  style={{
    background: "linear-gradient(to bottom, #20202066, #00000047, #17171766)",
  }}
>
  <div class="my-20 py-5">
    <div class="container">
      <h2 class="clients-heading text-heading text-primary font-medium my-5">
        Our Clients
      </h2>
      <p class="clients-subheading text-card-text text-subbody font-medium">
        Transform your business with generative AI
      </p>
    </div>

    <!-- Marquee for Mobile and Tablet  -->
    <div class="relative overflow-hidden lg:hidden">
      <div class="clients-marquee-container">
        <!-- Left to Right Marquee  -->
        <div class="clients-marquee-block">
          <div class="clients-marquee-inner clients-marquee-right">
            <span>
              {
                OurClientLogos.slice(0, 8).map((brand) => (
                  <div class="clients-marquee-item">
                    <Image src={brand.logo} alt={brand.alt} />
                  </div>
                ))
              }
            </span>
            <span>
              {
                OurClientLogos.slice(0, 8).map((brand) => (
                  <div class="clients-marquee-item">
                    <Image src={brand.logo} alt={brand.alt} />
                  </div>
                ))
              }
            </span>
          </div>
        </div>

        <!-- Right to Left Marquee with Small Gap  -->
        <div class="clients-marquee-block">
          <div class="clients-marquee-inner clients-marquee-left">
            <span>
              {
                OurClientLogos.slice(8).map((brand) => (
                  <div class="clients-marquee-item">
                    <Image src={brand.logo} alt={brand.alt} />
                  </div>
                ))
              }
            </span>
            <span>
              {
                OurClientLogos.slice(8).map((brand) => (
                  <div class="clients-marquee-item">
                    <Image src={brand.logo} alt={brand.alt} />
                  </div>
                ))
              }
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="container hidden lg:block my-20">
      <div
        id="clients-logo-container"
        class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-5"
      >
        {
          OurClientLogos.map((brand) => (
            <div class="w-full h-48 p-2 hover:bg-card rounded-primary content-center">
              <Image
                src={brand.logo}
                alt={brand.alt}
                class={`clients-logo object-contain m-auto 
                    ${brand.logo.src.includes("nanny") ? "max-h-30" : ""}`}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>

<style>
  /* Marquee Styles */
  .clients-marquee-wrapper {
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .clients-marquee-container {
    overflow: hidden;
  }
  .clients-marquee-inner span {
    float: left;
    width: 50%;
  }

  .clients-marquee-block {
    --total-marquee-items: 8;
    height: 150px;
    width: calc(250px * (var(--total-marquee-items)));
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    padding: 30px 0;
  }
  .clients-marquee-inner {
    display: block;
    width: 200%;
    position: absolute;
  }
  .clients-marquee-item {
    width: 230px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    float: left;
    transition: all 0.2s ease-out;
    border-radius: 12px;
    background-color: #27272a;
  }
  .clients-marquee-item img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .clients-marquee-left {
    animation: marqueeLeft 40s linear infinite;
  }
  .clients-marquee-right {
    animation: marqueeRight 40s linear infinite;
  }

  .clients-marquee-left:hover,
  .clients-marquee-right:hover {
    animation-play-state: paused;
  }
  @keyframes marqueeLeft {
    0% {
      left: 0;
      transform: translateX(0);
    }
    100% {
      left: -100%;
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marqueeRight {
    0% {
      left: -100%;
      transform: translateX(0);
    }
    100% {
      left: 0;
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
</style>
