---
const UpSliderData = [
  {
    id: "slide1",
    title: "Enterprise-Level Tech, Made Simple:",
    description:
      "Efficiently managing a large team demands a solid technological foundation. Our services offer robust, secure, and user-friendly solutions tailored to your needs. Picture a team of over 150 members, seamlessly collaborating with the aid of precisely crafted tools. This is the vision of future work that we're adept at bringing to fruition for enterprises.",
    p: "Large enterprise businesses that became our clients : ",
    image: "../assets/enterprise1.png",
    logos: [
      "../assets/nestlelogo.png",
      "../assets/hyundailogo.png",
      "../assets/stengglogo.png",
      "../assets/panasoniclogo.png",
      "../assets/c2.png",
      "../assets/standfordlogo.png",
    ],
  },
  {
    id: "slide2",
    title: "Transitioning from startup to scaleup?",
    description:
      "Embrace growth with our flexible tech solutions tailored for mid-level companies. Stay agile as your business evolves, empowered by our support every step of the way, so you can focus on what truly matters—achieving your goals",
    p: "Up-and-coming companies we partnered with early on  ",
    image: "../assets/enterprise2.png",
    logos: ["../assets/trianglelogo.png", "../assets/pinnaclelogo.png"],
  },
  {
    id: "slide3",
    title: "Thinking about launching a startup?",
    description:
      "Are you a startup grappling with managing both your creative concepts and technical infrastructure? We understand the struggle. Our user-friendly solutions are designed to adapt as your startup expands. Focus on your passion while we handle the tech, accelerating your journey to realizing your dreams.",
    p: "Young companies we partnered with",
    image: "../assets/enterprise3.png",
    logos: [
      "../assets/treelogo.png",
      "../assets/timesportslogo.png",
      "../assets/innerkraftlogo.png",
      "../assets/haleonlogo.png",
    ],
  },
];
---
<div class="container px-5 md:px-0">
  <div id="upSliderWrapper" class="flex flex-col">
    {
      UpSliderData.map((slide, index) => (
        <div class="mt-20"></div>
        <div
          id={`slide-${index}`}
          class={`upSliderSlide slide-${index}  flex max-lg:flex-col lg:flex-row w-full h-[90vh] lg:h-[80vh] flex-shrink-0 items-center justify-between bg-[#101010] rounded-lg sticky top-0 md:top-[10vh] p-3 lg:p-10 gap-6 lg:px-20 px-3 `}
        >
          <div class="md:mb-10 lg:mb-0 max-lg:order-2 lg:w-1/2 space-y-6 md:space-y-4 lg:space-y-15 relative">
            <h2 class="text-xl md:text-2xl lg:text-4xl text-white font-medium ">{slide.title}</h2>
            <p class="text-base md:text-lg lg:text-2xl font-normal text-primary">
              {slide.description}
            </p>
            <p class="text-base md:text-lg lg:text-2xl font-normal text-primary">
              {slide.p}
            </p>
            <div class="flex flex-wrap gap-3 justify-center lg:justify-start h-auto w-full">
              {slide.logos.map((logo) => (
                <img
                  src={logo}
                  alt="Logo"
                  class="h-[50px] md:h-[60px] rounded-lg object-cover"
                />
              ))}
            </div>
          </div>

          <div class="max-lg:order-1  w-1/1 lg:w-1/2 flex justify-center relative h-full">
            <img
              src={slide.image}
              alt="Map"
              class="h-full w-full rounded-lg shadow-lg object-contain object-center"
            />
          </div>
        </div>
      ))
    }
  </div>
</div>